/*Admin section*/
#tabset_wrapper p.info {
	-moz-border-radius:6px;
	background:#DCF3DB none repeat scroll 0 0;
	border:1px solid #C9E6C8;
	font-size:13px;
	font-style:normal;
	padding:10px 15px;
	margin:0;
	}
#tabset_wrapper .upgrade_notice {
	color: #FF0000;
	}
#tabset_wrapper span.advice {
	background-color:#FFFFE0;
	border:1px solid #E6DB55;
	padding:5px 10px;
	font-weight:bold;
}
#tabset_wrapper h3{
	margin:5px 0 0 20px;
	font-size:18px;
	font-weight:normal;
	color:#FF0000;
	font-style:italic;
	}
#tabset_form .option {
	width:500px;
	padding:0 0 25px 0;
	margin:0 0 10px 0;
	position:relative;
}
#tabset_form .option .save_w4_content_tabset_options {
	position:absolute;
	left:0px;
	bottom:0px;
	display:block;
}
#tabset_form input.save_w4_content_tabset_options {
	display:block;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-color: #999999 #999999 #888888;
	border-style:solid;
	padding: 2px 5px;
	font-family:Georgia, "Times New Roman", Times, serif, Pristina, Garamond;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background-color: #00adef;
	color:#FFFFFF;
	border-width:1px;
	cursor:pointer;
}
a.tabset_button, a.tabset_button:hover{
	padding:5px 10px;
	float:right;
	text-align:center;
	color:#FFFFFF;
	background-color:#67A54B;
	text-decoration:none;
	}
a#delete_list, a#delete_list:hover{
	background-color:#FF0000;
	color:#FFFFFF;
	}
#w4_tabset_welcome_page{
	width:400px;
	}
#w4_tabset_welcome_page h4{
	font-size:14px;
	margin:10px 0;
	}
#w4_tabset_welcome_page ul{
	margin-left:25px;
	}
#w4_tabset_welcome_page li{
	list-style-type:square;
	font-size:11px;
	line-height:14px;
	margin-bottom:3px;
	}
#w4_tabset_welcome_page li a.rsswidget{
	text-decoration:none;
	}
#w4_tabset_welcome_page li a.rsswidget:hover{
	text-decoration:underline;
	}
#w4_tabset_welcome_page li .rss-date{
	color:#777;
	font-size:10px;
	}