/*Admin section*/
#tabset_wrapper p.info {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background:#DCF3DB none repeat scroll 0 0;
	border:1px solid #C9E6C8;
	font-size:13px;
	font-style:normal;
	padding:10px 15px;
	margin:0;
	}
#tabset_wrapper .notice {
	color: #FF0000;
	}
#tabset_wrapper span.advice {
	background-color:#FFFFE0;
	border:1px solid #E6DB55;
	padding:5px 10px;
	font-weight:bold;
}
#tabset_wrapper h3{
	margin:5px 0 0 20px;
	font-size:18px;
	font-weight:normal;
	color:#FF0000;
	font-style:italic;
	}
#tabset_wrapper #tab_area{
	margin:20px;
	}
a.tabset_links{
	text-decoration:none;
	border:1px solid #CCC;
	background-color:#EEE;
	padding:3px 6px;
	font-size:11px;
	margin:0 5px;
	cursor:pointer;
	}
a.tabset_links:hover{
	background-color:#DDD;
	}
a#tabset_help{
	font-size:17px;
	margin-left:20px;
	}