#tabset_wrapper p.info {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background:#DCF3DB none repeat scroll 0 0;
	border:1px solid #C9E6C8;
	font-size:17px;
	font-style:normal;
	padding:10px 15px;
	font-weight:bold;
	}
#tabset_wrapper p.info a {
	font-weight:normal;
	}
#tabset_wrapper .notice {
	background:#FFFFFF;
	color: #FF0000;
	}
#tabset_wrapper span.advice {
	background-color:#FFFFE0;
	border:1px solid #E6DB55;
	padding:5px 10px;
	font-weight:bold;
}