#w4pl_widget_admin p {
	padding: 5px 0px;
	border-bottom: 1px solid #e5e5e5;
}
#w4pl_widget_admin small{
	font-style:italic;
	line-height:normal;
	}
/**/
.w4_post_list a {
	text-decoration: none ;
	}

.w4_post_list li.w4pl_list {
	list-style-type: none ;
	margin: 0px 0px 10px 0px;
	display: block;
	border: none ;
	}

.w4_post_list h3.w4pl_cat_title {
	border-bottom: 1px solid #DDDDDD ;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 2px 5px;
	display:block;
	background-color:#2583AD;
	}

.w4_post_list h3.w4pl_cat_title a {
	font-weight: bold ;
	font-size: 13px;
	color: #FFFFFF;
	}

.w4_post_list span.item_count {
	font-size: 10px;
	padding: 0px 0px 0px 10px;
	font-weight: normal;
	color: #EEE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}

.w4_post_list ul.w4pl_parent, .w4_post_list ul.w4pl_sub {
	margin: 0px ;
	padding: 0px ;
	}

.w4_post_list small {
	font-size: 10px ;
	font-style: italic;
	}

.w4_post_list li.w4pl_post_list {
	list-style-type: none ;
	list-style-position: outside ;
	margin: 1px 0px ;
	}

.w4_post_list div.w4pl_post_title a {
	font-size: 11px ;
	font-weight: bold ;
}

.w4_post_list div.w4pl_post_content {
	padding: 3px 3px 5px 3px;
	font-size: 11px;
	margin-bottom: 10px;
	font-size: 11px;
	border-bottom: 1px solid #DDD;
	}

/*Widgets*/
div.w4-post-list-support{
	padding: 4px 6px;
	background:#00ADEF;
	color:#FFFFFF;
	border:2px solid #8DD8F8;
	}

div.w4-post-list-support a{
	padding: 5px;
	background:#FFF;
	color:#00ADEF;
	margin: 7px 0 0 0;
	display:block;
	text-decoration:none;
	text-align:center;
	}
div.w4-post-list-support a:hover{
	background:#EEE;
	}