#w4_post_list ul.w4pl_cat_list, #w4_post_list ul.w4pl_post_list {
	padding:0 0 0 15px;
	margin:5px 0 15px 0;
}
#w4_post_list ul.w4pl_cat_list li{
	border:none;
}
#w4_post_list ul.w4pl_cat_list a.more{
	display:block;
	text-align:right;
	margin:-10px 0 15px 0;
	}
#w4_post_list ul.w4pl_cat_list li.list_effect {
	border:none;
	list-style-type:none;
	position:relative;
}
#w4_post_list li.list_effect span.marker {
	width:10px;
	height:10px;
	background:url(marker.png) 0 0;
	position:absolute;
	left:-12px;
	top:4px;
	cursor:pointer;
}
#w4_post_list li.open span.marker {
	background-position:0 -10px;
}
#w4_post_list li.open a.w4pl_handler{
	font-weight:bold;
	}
#w4_post_list ul.w4pl_cat_list li .item_count {
	margin:0px 0px 0px 0px;
	border:none;
}
#w4_post_list .w4pl_post_title small {
	font-size:80%;
	color:#AAA;
}
#w4_post_list .w4pl_post_title a {
}
#w4_post_list ul.w4pl_post_list li {
}
#w4_post_list div.w4pl_post_content, #w4_post_list div.w4pl_post_content p {
	padding:3px 0;
}
/*W4 post list admin*/
.w4-post-list-support {
	padding:4px 6px;
	background:#00ADEF;
	color:#FFFFFF;
	border:2px solid #8DD8F8;
}
.w4-post-list-support a {
	padding:5px;
	background:#FFF;
	color:#00ADEF;
	margin:0 0 2px 0;
	display:block;
	text-decoration:none;
	text-align:center;
}
.w4-post-list-support a:hover {
	background:#EEE;
}
/*W4 post list admin*/
#w4pl_admin {
	font-family:"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size:11px;
}
;
#w4pl_admin, #w4pl_admin label {
	font-size:11px;
}
#w4pl_admin p {
	padding:2px 0px;
	font-size:11px;
}
#w4pl_admin p.cat_title {
	margin:0;
}
#w4pl_admin small {
	font-size:11px;
	font-weight:normal;
	color:#999;
}
#w4pl_admin .hide_box {
	display:none;
}
#w4pl_admin h3 {
	margin:0 0 10px 0;
	font-size:22px;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif, Pristina, Garamond;
}
span.red {
	color:#FF0000;
}
#delete_list {
	font-size:11px;
	text-decoration:none;
}
#w4pl_admin .desc {
	font-size: 13px;
	font-weight: normal;
	color:#AAA;
}
#w4pl_admin .menu {
	border-bottom: 1px solid #437A2B;
	border-left:1px solid #999;
	overflow:hidden;
	width:100%;
}
#w4pl_admin .menu a{
	background-color: #666;
	border-left:1px solid #333;
	border-right:1px solid #999;
	display:inline-block;
	padding:3px 7px;
	color:#FFF;
	text-decoration:none;
	float:left;
}
#w4pl_admin .menu a.vote{
	background-color:#FFF000;
	color:#000;
	}
#w4pl_admin ul.help {
	line-height:24px;
	font-size:13px;
	margin:20px 0 0 20px;
}
#w4pl_admin ul.help li {
	list-style-type:square;
	list-style-position:outside;
	font-size:11px;
}
#post_list_form .category{
	background-color:#EEE;
	margin-bottom:1px;
	overflow:hidden;
	border-bottom:1px solid #DDD;
	}

#post_list_form div.first{
	background-color:#E8E8E8;
	}
#post_list_form .w4c_inside {
	margin:0 0 5px 0;
	font-size:10px;
	padding:5px;
	margin:0 10px 10px 10px;
	border:1px solid #DDD;
	background-color:#FFF;
	float:left;
}
#post_list_form ul.post_list {
	max-height:140px;
	overflow:auto;
	margin:3px 0;
}
#post_list_form ul.post_list li {
	margin:0;
	padding:0;
	font-size:11px;
}
#post_list_form ul.post_list li:hover{
	background:#CCC;
	}
#post_list_form .option {
	width:500px;
	padding:0 0 25px 0;
	margin:0 0 10px 0;
	position:relative;
}
.w4_help{
	position:absolute;
	width:200px;
	left:520px;
	top:0;
	background-color: #FFFFE0;
	border-color: #E6DB55;
	padding:5px;
	}
#post_list_form .option .save_list_option {
	position:absolute;
	left:0px;
	bottom:0px;
	display:block;
}
ul.post_list_menu {
	padding:10px;
	margin-bottom:10px;
	background-color:#DDD;
	border-top:1px solid #AAA;
	overflow:hidden;
}
ul.post_list_menu li {
	display:inline;
	margin:0 3px 5px 3px;
	padding:0;
	float:left;
}
ul.post_list_menu li a, #w4pl_admin input.save_list_option {
	display:block;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-color: #999999 #999999 #888888;
	border-style:solid;
	padding: 2px 5px;
	font-family:Georgia, "Times New Roman", Times, serif, Pristina, Garamond;
	font-size: 11px;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	background-color: #00adef;
	color:#FFFFFF;
	border-width:1px;
	cursor:pointer;
}
ul.post_list_menu li a.current {
	background-color:#0394cb;
}
ul.post_list_menu li a.create, #w4pl_admin input.save_list_option {
	background-color:#67A54B;
}