/*W4 post list admin*/
#icon-w4pl{
	float: left;
	height: 140px;
	margin: 7px 8px 0 0;
	width: 250px;
	background:url(w4.jpg) no-repeat;
	border-right: 1px solid #EEE;
}
#w4pl-title{
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.w4-post-list-support {
	padding:4px 6px;
	color:#333;
	border:1px solid #8DD8F8;
	font-size:11px;
	line-height:normal;
}
.w4-post-list-support a {
	color:#00ADEF;
	text-decoration:none;
}

#w4pl_admin{
	color:#777;
	overflow:hidden;
	margin-right:10px;
	}
#w4pl_admin h3, #w4pl_admin h3 label, #w4pl_admin h4, #w4pl_admin h4 label {
	font-size:18px;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif, Pristina, Garamond;
	font-style:italic;
	font-weight:normal;
	line-height:normal;
}
#w4pl_admin .stuffbox h3{
	font-weight: normal;
	line-height: 1;
	margin: 0 0 0px 0;
	padding: 7px 9px;
}
#w4pl_admin .stuffbox .inside{
	padding:15px;
	line-height:normal;
	}
#w4pl_admin .stuffbox .w4pl_tags{
	line-height:19px;
}
#w4pl_admin h4, #w4pl_admin h4 label{
	font-size:16px;
	margin-top:0px;
	}
#w4pl_admin code{
	background-color:#EEE;
	color:#666;
	border:1px solid #DDD;
	border-width:1px 0;
	margin:0 2px;
	}
#w4pl_admin .form_help code{
	background-color:#FFF;
}
#w4pl_admin .side_notice{
	position:absolute;
	width:300px;
	right:0px;
	top:0px;
	border:1px solid #bdbd96;
	}
.w4form{
	background-color:#DDDDBC;
	padding:10px;
}

.list-id span {
	color:#333;
}
#w4pl_admin, #w4pl_admin label, #w4pl_admin small, .option ul li {
	font-family:"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size:11px;
}
#w4pl_admin p {
	padding:2px 0px;
	font-size:11px;
}
#w4pl_admin p.cat_title {
	margin:0;
	overflow:hidden;
	position:relative;
	line-height:20px;
}
#w4pl_admin p.cat_title .w4pl_cat_checkbox{
	position:relative;
	top:-1px;
	margin-left:5px;
	}
#w4pl_admin p.cat_title span.category_post_handle{
	float:right;
	padding:0px 5px;
	background-color:#CCC;
	border:1px solid #AAA;
	cursor:pointer;
	font-size:11px;
	}
.w4pl_tip_handle{
	display:block;
	width:12px;
	height:12px;
	background-color:#666666;
	display: inline-block;
	background:url(help.gif) no-repeat;
	position:relative;
	top:3px;
	z-index:9999;
	}
.w4pl_tip_handle span{
	position:absolute;
	z-index:10;
	left:12px;
	bottom:12px;
	display:none;
	min-width:300px;
	-moz-border-radius:5px;
	webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #AAA;
	padding:10px 15px;
	font-size: 13px;
	background:#EEE;
	cursor:pointer;
	}
.w4pl_tip_handle:hover{
	cursor:pointer;
	}
#w4pl_admin small {
	font-weight:normal;
	color:#999;
}
#w4pl_admin .hide_box {
	display:none;
}

#delete_list {
	color:#FF0000 !important;
}
#w4pl_admin .desc {
	font-size: 12px;
	font-weight: normal;
	color:#888;
	line-height:normal;
	display:block;
	margin:0 0 20px 0;
}
#w4pl{
	margin: 20px 0 0;
	border-top:1px solid #EEE;
	}
#w4pl, #w4pl_header{
	overflow:hidden;
	}
#w4pl_admin .menu {
	overflow:hidden;
	clear:right;
}
#w4pl_admin .menu a{
	background-color: #FFF;
	border-width:1px 1px 1px 0px;
	border-style: solid;
	border-color:#DDD;
	display:inline-block;
	padding:3px 7px;
	color:#333;
	text-decoration:none;
	float:right;
}
.w4-notice{
	background-color:#FFF000;
	color:#000;
	padding:3px 5px;
}
#w4pl_admin ul.help, #w4pl_admin ul.whats_new {
	line-height:24px;
	font-size:13px;
	margin:5px 0 5px 20px;
}
#w4pl_admin ul.help li, #w4pl_admin ul.whats_new li {
	list-style-type:square;
	list-style-position:outside;
	font-size:11px;
}


/*List form*/
.w4pl_form, #w4pl_option_form{
	padding-bottom:10px;
	margin-bottom:10px;
	position:relative;
	}
#w4pl_option_form{
	margin:30px 0 0 100px;
	}
.w4pl_form .category, .taxonomy{
	background-color:#DDD;
	margin-bottom:1px;
	overflow:hidden;
	border-bottom:1px solid #DDD;
	min-height:28px;
	}

.w4pl_form div.first, .taxonomies .first{
	background-color:#E8E8E8;
	}
.w4pl_form .w4c_inside, .taxonomies .w4c_inside {
	margin:0 0 5px 0;
	font-size:10px;
	padding:5px;
	margin:0 10px 10px 10px;
	border:1px solid #DDD;
	background-color:#FFF;
	float:left;
	display:none;
}
.w4pl_form ul.post_list {
	max-height:140px;
	overflow:auto;
	margin:3px 0;
}
.w4pl_form ul.post_list li, #w4pl_admin ul.whats_new li {
	margin:0;
	padding:0;
	font-size:11px;
}
.w4pl_form ul.post_list li:hover{
	background:#CCC;
	}
.w4pl_form .option {
	width:500px;
	padding:0 0 35px 0;
	margin:0 0 10px 0;
	position:relative;
	border-bottom:1px solid #DDD;
}
.w4pl_form .option ul li{
	margin:0;
	padding:0;
	}
.w4pl_form .option .w4pl_update_button {
	position:absolute;
	right:0px;
	bottom:3px;
	display:block;
}
#w4pl_admin .form_help{
	font-size:11px;
	line-height:14px;
	padding:5px 10px;
	background-color:#EEE;
	margin:10px;
	font-family:"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	width:460px;
	}
#w4pl_admin .w4pl_update_button, .w4outlinks a {
	display: inline-block;
	-moz-box-shadow: 0 1px 2px #AAA;
	border-color: #0488ba;
	border-style:solid;
	padding: 2px 5px;
	font-family:Georgia, "Times New Roman", Times, serif, Pristina, Garamond;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background-color: #00adef;
	color:#FFFFFF !important;
	border-width:1px;
	cursor:pointer;
}
.w4outlinks a{
	background-color:#67A54B;
	border-color:#3C7123;
	padding:10px 20px;
	display:block;
}
#w4pl_admin .w4pl_update_button {
	background-color:#67A54B;
	border:1px solid #3C7123;
}
.w4pl_form .option ul.w4pl_template_order{
	margin:3px 0px;
	}
.w4pl_form .option ul.w4pl_template_order li{
	margin:1px 5px;
	padding:3px 5px;
	background-color:#EEE;
	border-bottom:1px solid #DDD;
	cursor:move;
	color:#777;
	display:block;
	}

#w4pl_template_wrapper, #w4pl_post_template_wrapper, #w4pl_post_template_loop, #w4pl_category_template_wrapper, #w4pl_category_template_loop{
	width:99%;
	height:100px;
	}
#w4pl_post_template_loop, #w4pl_category_template_loop{
	height:150px;
	}
#w4pl_admin .w4pl_updates h3{
	background: #FFFFE0;
	border-bottom:1px solid #E6DB55;
	color: #333;
	}
.w4_error, .w4_updated{
	margin: 5px 0 15px;
    padding: 5px 10px;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
}
.w4_error{
	background-color: #FFEBE8;
	border-color: #CC0000;
}
.w4_updated{
	background-color: #FFFFE0;
    border-color: #E6DB55;
}